{% assign pg = site.pages | where: '_layout','downloads' | where: 'group',page.group | first %}

{% unless include.header == false %}
<hr/>
{% if pg %}
<h2 class="header-link"><a href="{{ site.baseurl }}{{ pg.permalink }}">{{ pg.title }}</a></h2>
{% else %}
<h2>Downloads</h2>
{% endif %}
{% endunless %}


{% unless include.all == false %}
<h2>Releases</h2>
<div class="scroll">
<table class="downloads">
	<tr>
		<th>Release</th>
		<th>Download</th>
		<th>Source Code</th>
		<th>GitHub Release</th>
	</tr>
{% for release in pg.releases %}
	<tr>
		<td>{{ release.title }}</td>
		<td>
			{% if release.release_zip %}
			<a href="{{ release.release_zip }}">
				download <span class="data">.zip</span>
			</a>
			{% else %}
			-
			{% endif %}
		</td>
		<td>
			{% if release.source_zip %}
			<a href="{{ release.source_zip }}">
			source <span class="data">.zip</span>
			</a>
			{% else %}
			-
			{% endif %}
		</td>
		<td>
			{% if release.release_gh %}
			<a href="{{ release.release_gh }}">
			github release
			</a>
			{% else %}
			-
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
</div>
{% endunless %}


{% if pg.githublinks %}
<h2>GitHub</h2>
<nav>
	{% if pg.githublinks.latest_gh %}
	<a href="{{ pg.currentRelease.latest_gh }}">
		Latest Release {% if pg.githublinks.title %}- {{ pg.githublinks.title }}{% endif %}
	</a>
	{% endif %}
	
	{% if pg.githublinks.releases_gh %}
	<a href="{{ pg.currentRelease.releases_gh }}">
		All Releases
	</a>
	{% endif %}
	
	{% if pg.githublinks.source_gh %}
	<a href="{{ pg.currentRelease.source_gh }}">
		Source Code Repository
	</a>
	{% endif %}
</nav>
{% endif %}