<footer>
    <div>
        <h2>Quick Links</h2>
        <nav>
            <ul class="mainpages">
                {% assign mainpages = "" | split:"|" %}
                {% for page in site.pages %}
                    {% for pc in page.categories %}
                        {% if pc == 'mainpages' %}
                            {% assign mainpages = mainpages | push: page %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% assign mainpages = mainpages | sort: 'order' %}
                {% for page in mainpages %}
                <li>
                    <a href="{{ site.baseurl }}{{ page.url }}">
                        <img src="{{ site.baseurl }}/assets/images/icons/{{ page.icon }}"/>
                        <span>{{ page.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="socialsites">
                {% for social in site.socialsites %}
                <li>
                    <a href="{{ social.link }}">
                        <img src="{{ site.baseurl }}/assets/images/socialsiteicons/{{ social.icon }}"/>
                    </a>
                </li>
                {% endfor %}
            </div>
        </nav>
        <div id="copyright">&copy Copyright Cresspresso Entertainment 2016</div>
    </div>
</footer>