{% assign homepage = site.pages | where: 'permalink', site.homepage.permalink | first %}
{% if page.group == site.homepage.group %}
<a id="parent-title" class="page-group-title" href="{{ site.baseurl }}{{ site.homepage.permalink }}" title="{{ site.title }}">
	<span>{{ site.title }}</span>
	<img id="page-icon" class="icon{% if homepage.icon_square %} icon-square{% endif %}" src="{{ site.baseurl }}{{ site.iconsurl }}{{ site.homepage.icon }}"/>
</a>
{% else %}
{% assign parent = site.pages | where: 'subgroup',true | where: 'group', page.group | first %}
<a id="parent-title" class="page-group-title" href="{{ site.baseurl }}{{ parent.permalink }}" title="{{ parent.title }}">
	<span>{{ parent.title }}</span>
	<img id="page-icon" class="icon{% if parent.icon_square %} icon-square{% endif %}" src="{{ site.baseurl }}{{ site.iconsurl }}{% if parent.icon %}{{ parent.icon }}{% else %}{{ site.homepage.icon }}{% endif %}"/>
</a>
{% endif %}