
{% if page.group %}
{% assign parent = site.pages | where: 'layout','posthub' | where: 'group',page.group | first %}
{% unless parent %}
{% assign parent = site.pages | where: 'subgroup',true | where: 'group',page.group | first %}
{% endunless %}
<a id="back-link" href="{{ site.baseurl }}{{ parent.permalink }}" title="{{ parent.title }} - {{ page.group }}">← Back to {{ parent.title }} <span class="smalltext">// {{ page.group }}</span></a>
{% else %}
<a id="back-link" href="{{ site.baseurl }}{{ site.homepage.permalink }}" title="{{ site.title }}">← Back to {{ site.title }}</a>
{% endif %}