<header>
    <!-- title -->
	{% assign pg_title = site.homepage.title %}
	{% assign pg_url = site.homepage.url %}
	{% assign pg_icon = site.homepage.icon %}
	
	{% for pg in site.pages %}
		{% if pg.title == include.group %}
			{% for pc in pg.categories %}
				{% if pc == 'mainpages' %}
					{% assign pg_title = pg.title %}
					{% assign pg_url = pg.url %}
					{% assign pg_icon = pg.icon %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	
	<a id="title" href="{{ site.baseurl }}{{ pg_url }}">
		<h2>{{ pg_title }}</h2>
		<h3><span>Cresspresso</span> Entertainment</h3>
		<img src="{{ site.baseurl }}/assets/images/icons/{{ pg_icon }}" alt="{{ pg_title }}"/>
	</a>
	

    <!-- menu toggle button -->
    <input id="header-toggle-menu" class="toggle mainpages" type="checkbox"/>
    <label for="header-toggle-menu" title="Menu">
        <img class="open" src="{{ site.baseurl }}/assets/images/menu_open.png" alt="open"/>
        <img class="close" src="{{ site.baseurl }}/assets/images/menu_close.png" alt="close"/>
    </label>

    <!-- navigation links dropdown -->
    <div class="toggle-content">
        <nav>
            <!-- main pages -->
            <ul class="mainpages">
                {% include links-mainpages.html %}
            </ul>
        </nav>
    </div>
</header>
