<header>
    <!-- title -->
    <a id="title" href="{{ site.baseurl }}/{{ include.link }}">
		{% for page in site.pages %}
    		{% for pc in page.categories %}
        		{% if pc == 'mainpages' and page.title == include.group %}
        			<h2>{{ page.title }}</h2>
        			<h3><span>Cresspresso</span> Entertainment</h3>
					<img src="{{ site.baseurl }}/assets/images/icons/{{ page.icon }}" alt="{{ page.title }}"/>
				{% endif %}
			{% endfor %}
		{% endfor %}
    </a>

    <!-- menu toggle button -->
    <input id="header-toggle-menu" class="toggle mainpages" type="checkbox"/>
    <label for="header-toggle-menu" title="Menu">
        <img class="open" src="{{ site.baseurl }}/assets/images/menu_open.png" alt="open"/>
        <img class="close" src="{{ site.baseurl }}/assets/images/menu_close.png" alt="close"/>
    </label>

    <!-- navigation links dropdown -->
    <div class="nav-bg">
        <nav>
            <!-- main pages -->
            <ul class="mainpages">
                {% include links-mainpages.html %}
            </ul>
        </nav>
    </div>
    
    <!-- shadow effect -->
    <div class="fade"></div>
</header>