<meta charset="utf-8"/>

<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ site.stylesheet }}"/>

<meta name="description" content="{{ page.description }}"/>

<meta name="keywords" content="{{ page.keywords }}"/>

<title>{% if page.tabtitle %}{{ page.tabtitle }}{% else %}{{ page.title }}{% unless page.subgroup %}{% if page.group %} - {{ page.group }}{% else %}{{ page.parent }}{% endif %}{% endunless %}{% endif %}</title>


{% assign tabicon = site.homepage.tabicon %}

{% if page.tabicon %}
{% assign tabicon = page.tabicon %}

{% elsif page.group %}
{% assign parent = site.pages | where: 'group',page.group | where: 'subgroup',true | first %}
{% if parent.tabicon %}
{% assign tabicon = parent.tabicon %}
{% endif %}

{% elsif page.parent %}
{% assign parent = site.pages | where: 'group',page.parent | where: 'subgroup',true | first %}
{% if parent.tabicon %}
{% assign tabicon = parent.tabicon %}
{% endif %}

{% endif %}
<link rel="icon" href="{{ site.baseurl }}{{ site.iconsurl }}{{ tabicon }}"/>


{% comment %}
<!------- cookies ------->
<script>
	function setCookie(name,value,days) {
		if (navigator.cookieEnabled == true) {
			if (days) {
				var date = new Date();
				date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
				var expires = "; expires=" + date.toGMTString();
			} else {
				var expires = "";
			}
			var path = "; path={{ site.baseurl }}{{ site.homepage.permalink }}";
			document.cookie = name + "=" + value + expires + path;
		}
	}

	function getCookie(name) {
		if (navigator.cookieEnabled == true) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for(var i=0;i < ca.length;i++) 
			{
				var c = ca[i];
				while (c.charAt(0)==' ')
				{
					c = c.substring(1,c.length);
				}
				if (c.indexOf(nameEQ) == 0)
				{
					return c.substring(nameEQ.length,c.length);
				}
			}
		}
		return null;
	}

	function deleteCookie(name) {
		setCookie(name,"",-1);
	}
</script>
<script>
	/*function checkCookies() {
		// foldoutGroupLinks
		var input_foldoutGroupLinks = document.getElementById('foldout-group-links');
		var foldoutGroupLinks_checked = getCookie('foldoutGroupLinksChecked');
		if (input_foldoutGroupLinks && foldoutGroupLinks_checked != null) {
			input_foldoutGroupLinks.checked = (foldoutGroupLinks_checked == 'true');
		}
		
		// foldoutSubgroupLinks
		var input_foldoutSubgroupLinks = document.getElementById('foldout-subgroup-links');
		var foldoutSubgroupLinks_checked = getCookie('foldoutSubgroupLinksChecked');
		if (input_foldoutSubgroupLinks && foldoutSubgroupLinks_checked != null) {
			input_foldoutSubgroupLinks.checked = (foldoutSubgroupLinks_checked == 'true');
		}
	}*/
	
	function checkCookies() {
		/* obsolete cookies */
		deleteCookie('foldoutLinksChecked');
		deleteCookie('foldoutChildLinksChecked');
		deleteCookie('foldoutGroupLinksChecked');
		deleteCookie('foldoutSubgroupLinksChecked');
	}
</script>
{% endcomment %}
<script>function checkCookies() {}</script>


