{% assign mainpages = "" | split:"|" %}
{% for page in site.pages %}
    {% for pc in page.categories %}
        {% if pc == 'mainpages' or pc == 'subpages' %}
            {% assign mainpages = mainpages | push: page %}
			{% break %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% assign mainpages = mainpages | sort: 'order' %}
{% for page in mainpages %}
	{% assign class = '' %}
	{% for pc in page.categories %}
		{% if pc == 'subpages' %}
			{% assign class = 'sublink' %}
			{% break %}
		{% endif %}
	{% endfor %}
	<li>
		<a class="{{ class }}" href="{{ site.baseurl }}{{ page.url }}">
			<div class="link">
				<span>{{ page.title }}</span>
				<img src="{{ site.baseurl }}/assets/images/icons/{{ page.icon }}"/>
			</div>
		</a>
	</li>
{% endfor %}