{% assign pages = site.pages | where: 'parent', site.homepage.group | sort: 'parentorder' %}

{% assign show_maingrouplinks = false %}
{% if pages.size > 0 %}
{% assign firstpage = pages | first %}
{% unless pages.size == 1 and firstpage.parenthide %}
{% assign show_maingrouplinks = true %}
{% endunless %}
{% endif %}
{% if show_maingrouplinks %}

<div class="foldout-box">
	<input id="foldout-maingroup-links" class="foldout" type="checkbox" onchange="input_onchange_foldoutSubgroupLinks"/>
	<label for="foldout-maingroup-links" class="foldout">
		<span>≡ Cresspresso</span>
		<svg class="foldout-arrow-svg" height="1em" width="1em" viewBox="0 0 100 100">
			<polygon class="foldout-arrow" points="20,40 80,40 50,70"/>
		</svg>
	</label>
	<div class="foldout">
		<nav>
{% for pg in pages %}
{% unless pg.subhide %}
<a class="nav-link{% if pg.icon %} aicon{% endif %}" href="{{ site.baseurl }}{{ pg.permalink }}" title="{{ pg.title }}">
	{% if pg.icon %}
	<img class="icon{% if pg.icon_square %} icon-square{% endif %}" src="{{ site.baseurl }}{{ site.iconsurl }}{{ pg.icon }}"/>
	{% endif %}
	<span>{{ pg.title }}</span>
</a>
{% endunless %}
{% endfor %}
			
		</nav>
	</div>
</div>
{% endif %}