{% unless include.header == false %}
<hr/>
{% assign parent = site.pages | where: 'layout','posthub' | where: 'group',page.group | first %}
{% if parent %}
<h2 class="header-link"><a href="{{ site.baseurl }}{{ parent.permalink }}">{{ parent.title }}</a></h2>
{% else %}
{% assign parent = site.pages | where: 'subgroup',true | where: 'group',page.group | first %}
<h2>Posts</h2>
{% endif %}
{% endunless %}

{% assign posts = site.posts | where: 'group',page.group | sort: 'date' | reverse %}
{% if page.group == site.homepage.group %}
{% for pg in site.posts %}
{% unless pg.group %}
{% assign posts = posts | push: pg %}
{% endunless %}
{% endfor %}
{% endif %}

{% if posts.size > 0 %}
<nav class="posts-links">
{% for pg in posts %}
{% unless pg.hide %}
<a href="{{ site.baseurl }}{{ pg.url }}" title="{{ pg.title }}" title="{{ pg.title }}">
	<span>{{ pg.title }}</span>
	<span class="post-date data">{{ pg.date | date: '%-d %B %Y, %R' }}</span>
</a>
{% endunless %}
{% endfor %}
</nav>
{% else %}
<p class="grayed data">There are no posts for {{ page.group }}.</p>
{% endif %}