/* syntax highlighting */

@import "syntax_highlighting/alternative.scss";

@mixin tab-size($size) {
    tab-size: $size;
    -moz-tab-size: $size;
    -o-tab-size: $size;
}

.highlighter-rouge {
    overflow-x: auto;
    
    font-family: monospace;
    white-space: pre;
    
    display: inline;
    margin: 0;
    padding: 1px 4px 2px 4px;
    border-radius: 5px;
}
pre.highlight {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: -1em;
}
.codeblock {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 10px;
	font-size: 11pt;
	border: 1px inset #40779f;
	@include tab-size(16px);
}


