---
layout: page
title: Coding
permalink: /coding/
categories:
  - mainpages
order: 3
icon: coding.png
---
<article>
    <p>You never saw this coming.</p>
    
    {% assign script = site.scripts | where: 'scriptname', 'everything.cs' | first %}
    {% include codeblock.html block=true codetype=script.codetype content=script.content %}
</article>

<hr/>

<!-- ALL SCRIPTS -->
<section>
    <h2>All Scripts</h2>
</section>

{% for script in site.scripts %}
<article>
    <p>{{ script.scriptname }}</p>
    {% include codeblock.html block=true codetype=script.codetype content=script.content %}
</article>
{% endfor %}

<hr/>

<!-- ALL POSTS -->
<section>
	<h2>All Posts</h2>
</section>

{% for post in site.posts %}
	{% if post.categories contains 'coding' %}
<article>
	<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br><span style="font-size: 12pt; letter-spacing: 1px;">{{ post.date }}</span></a></h3>
	<hr/>
	<article>
		{{ post.content }}
	</article>
</article>
	{% endif %}
{% endfor %}