---
layout: subpage
title: Scripts
permalink: /coding/scripts/
group: Coding
categories:
  - subpages
order: 31
icon: 'Coding Symbol 128.png'
iconlarge: 'Coding Symbol 2048.png'
symbol: 'Coding Symbol 128.png'
---
{% include title.html %}
<section>
	<p>All of my sourcecode files used on this site. Click the file's name to download.</p>
	<p>Note that when downloading certain files ({% include codeblock.html codetype='' content=".html .markdown .md" %}) on mobile devices, the file name extension may have a trailing underscore {% include codeblock.html codetype='' content="_" %} which will need to be removed.</p>
</section>

{% assign gists = site.gists | sort: 'date' | reverse %}
{% for gist in gists %}
<article>
	<a class="article-header" href="{{ gist.link }}">
		<h3>{{ gist.title }}</h3>
		<p class="date">{{ gist.date | date: '%-d %b %Y, %R' }}</p>
	</a>
	
	<ul style="margin-bottom:20px;">
	{% for post in site.posts %}
	{% if post.gists contains gist.title %}
		<li><a href="
	{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>
	
	{% include gist.html title=gist.title %}
</article>
{% endfor %}


