---
scriptname: style.css
codetype: css
date: 2016-12-19 14:37:07 +1300
---
.highlighter-rouge,
div.highlight {
    display: inline;
    padding: 1px 4px;
    overflow-x: auto;
    
	font-size: 0.9em;
    font-family: monospace;
    
    border-radius: 2px;
}
pre.highlight {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: -1em;
}
.codeblock,
div.highlight {
	display: block;
	padding: 10px;
	
    white-space: pre; /* for padding-right */
	font-size: 10pt;
	
	border-radius: 0;
}