---
---
/* imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');


/* mixins */

@mixin mixprop($property, $values...) {
	        #{$property}: $values;
	-webkit-#{$property}: $values;
	   -moz-#{$property}: $values;
	     -o-#{$property}: $values;
	    -ms-#{$property}: $values;
}
@mixin mixall($property, $values...) {
            #{$property}:         $values;
	-webkit-#{$property}: -webkit-$values;
	   -moz-#{$property}:    -moz-$values;
	     -o-#{$property}:      -o-$values;
	    -ms-#{$property}:     -ms-$values;
}

@mixin transition($values...) {
            transition: $values;
    -webkit-transition: $values;
       -moz-transition: $values;
         -o-transition: $values;
}

@mixin transform($values...) {
            transform: $values;
    -webkit-transform: $values;
         -o-transform: $values;
       -moz-transform: $values;
        -ms-transform: $values;
}

@mixin box-shadow($values...) {
	        box-shadow: $values;
	-webkit-box-shadow: $values;
	   -moz-box-shadow: $values;
}


@mixin filter($values...) {
	        filter: $values;
	-webkit-filter: $values;
}
@mixin transition-filter($time) {
	        transition: -webkit-filter $time, filter $time;
    -webkit-transition: -webkit-filter $time;
}


/* variables */

$font-size-base: 1.2em;

$font-family-base: Arial, sans-serif;
$font-family-htop: 'Open Sans', Calibri, 'Nirmala UI Semilight', 'Nirmala UI', 'Segoe UI Semilight', 'Segoe UI', $font-family-base;
$font-family-hsub: 'Trebuchet MS', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, $font-family-base;


$html-bg: #fff;


/* main html */

html {
	* {
		margin: 0;
		padding: 0;
	}
	
	font-family: $font-family-base;
	font-size: $font-size-base;
	
	background: $html-bg;
}

// TEMP
body {
	margin: 2em;
}

/* h's */

h1, h2 {
	font-family: $font-family-htop;
}

h1 {
	font-size: 2em;
}

h2 {
	
}


h3, h4, h5, h6 {
	font-family: $font-family-hsub;
}


/* a's and link buttons */

@mixin link-hover() {
	border: 1px solid transparent;
	&:hover {
		//background: rgba(0, 157, 255, 0.1);
		//border: 1px solid rgba(0, 177, 255, 0.1);
		background: rgba(0, 255, 88, 0.1);
		border: 1px solid rgba(0, 255, 88, 0.1);
	}
	
	padding-left: 2px;
	padding-right: 2px;
}

$link-color: 				rgb(13, 180, 141);
$link-color-hover: 			$link-color;
$link-color-visited: 		$link-color;
$link-color-visited-hover: 	$link-color-hover;

a {
	@include link-hover();
	
	color: $link-color;
	text-decoration: none;
	
	&:hover {
		color: $link-color-hover;
	}
	&:visited {
		color: $link-color-visited;
	}
	&:visited:hover {
		color: $link-color-visited-hover;
	}
}


/* foldouts */

div.foldout-box {
	position: relative;
}

input.foldout {
	display: none;
	
	+ label.foldout {
		display: block;
		cursor: pointer;
		
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		
		@include link-hover();
		
		span {
			font-size: 0.7em;
			padding-left: 0.2em;
			text-transform: uppercase;
		}
		
		svg {
			display: inline-block;
			vertical-align: top;
			padding-top: 1px;
		}
		
		// arrow
		.foldout-arrow {
			fill: black;
			
			@include mixprop(transform-origin, 50% 40%);
			@include transform(rotate(0deg));
			@include transition(transform 0.3s);
		}
		.unchecked {
			display: block;
		}
		.checked {
			display: none;
		}
		
		// content
		+ div.foldout {
			overflow: hidden;
			height: 0px;
			
			position: relative;
			padding-top: $font-size-base + 0.2em;
		}
	}
	
	&:checked + label.foldout {
		// arrow
		.foldout-arrow {
			@include transform(rotate(-180deg));
		}
		.unchecked {
			display: none;
		}
		.checked {
			display: block;
		}

		// content
		+ div.foldout {
			border: 1px dashed rgba(0, 0, 0, 0.1);
			background: rgba(0,0,0,0.01);
			height: auto;/*{% include page-links-height line-height=1.2 %}em;*/
		}
	}
}


/* copyright */
#copyright {
	text-align: center;
	font-size: 9pt;
	letter-spacing: 0.03em;
}

/* site-title */
#page-title {
	position: relative;
	display: block;
	
	font-family: $font-family-htop;
	font-size: $font-size-base;
	text-decoration: none;
	
	$page-title-padding-tb: 0.3em;
	$page-title-padding-lr: 0.3em;
	padding: 0
		$page-title-padding-lr
		$page-title-padding-tb
		$page-title-padding-lr;
	
	$page-icon-size: 1.5em;
	
	span {
		position: relative;
	}
	#page-icon {
		position: relative;
		left: $page-title-padding-lr;
		top: $page-title-padding-tb + 0.05em;
		margin-top: -0.2em;
		height: $page-icon-size;
	}
}

#page-icon,
.icon {
	border-radius: 100%;
	box-shadow: 0.0em 0.1em 0.1em -0.05em rgba(0,0,0,0.3);
}


/* nav-link */
a.nav-link {
	display: block;
	position: relative;
	
	padding: 0.3em 1em;
	
	$icon-height: 3em;
	
	min-height: $font-size-base;
	
	span {
		display: inline-block;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}
	
	.icon {
		height: $icon-height;
		margin-left: 0em;
		margin-right: 1em;
		margin-bottom: -0.2em;
	}
}


/* media different screen sizes */

@media only screen and (min-width: 34em) {
	#copyright>br {
		display: none;
	}
}


