---
---
/* imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');


/* mixins */

@mixin mixprop($property, $values...) {
	        #{$property}: $values;
	-webkit-#{$property}: $values;
	   -moz-#{$property}: $values;
	     -o-#{$property}: $values;
	    -ms-#{$property}: $values;
}
@mixin mixall($property, $values...) {
            #{$property}:         $values;
	-webkit-#{$property}: -webkit-$values;
	   -moz-#{$property}:    -moz-$values;
	     -o-#{$property}:      -o-$values;
	    -ms-#{$property}:     -ms-$values;
}

@mixin transition($values...) {
            transition: $values;
    -webkit-transition: $values;
       -moz-transition: $values;
         -o-transition: $values;
}

@mixin transform($values...) {
            transform: $values;
    -webkit-transform: $values;
         -o-transform: $values;
       -moz-transform: $values;
        -ms-transform: $values;
}

@mixin box-shadow($values...) {
	        box-shadow: $values;
	-webkit-box-shadow: $values;
	   -moz-box-shadow: $values;
}


@mixin filter($values...) {
	        filter: $values;
	-webkit-filter: $values;
}
@mixin transition-filter($time) {
	        transition: -webkit-filter $time, filter $time;
    -webkit-transition: -webkit-filter $time;
}


/* variables */

$font-size-base: 1.2em;

$font-family-base: Arial, sans-serif;
$font-family-htop: 'Open Sans', Calibri, 'Nirmala UI Semilight', 'Nirmala UI', 'Segoe UI Semilight', 'Segoe UI', $font-family-base;
$font-family-hsub: 'Trebuchet MS', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, $font-family-base;


$html-bg: #fff;


/* main html */

html {
	* {
		margin: 0;
		padding: 0;
	}
	
	font-family: $font-family-base;
	font-size: $font-size-base;
	
	background: $html-bg;
}

// TEMP
body {
	margin: 2em;
}

/* h's */

h1, h2 {
	font-family: $font-family-htop;
}

h1 {
	font-size: 2em;
}

h2 {
	
}


h3, h4, h5, h6 {
	font-family: $font-family-hsub;
}


/* copyright */
#copyright {
	text-align: center;
	font-size: 9pt;
	letter-spacing: 0.03em;
}

/* site-title */
#site-title {
	display: block;
	font-family: $font-family-htop;
	font-size: 1.2em;
	text-decoration: none;
}

/* nav-link */
a.nav-link {
	display: block;
}


/* foldouts */

input.foldout {
	display: none;
	
	+ label.foldout {
		display: block;
		
		// arrow
		.foldout-arrow {
			fill: black;
			
			@include mixprop(transform-origin, 50% 35%);
			@include transform(rotate(0deg 20 20));
		}
		.unchecked {
			display: block;
		}
		.checked {
			display: none;
		}
		
		// content
		+ div.foldout>* {
			display: none;
		}
	}
}

input.foldout:checked {
	+ label.foldout {
		// arrow
		.foldout-arrow {
			@include transform(rotate(180deg));
		}
		.unchecked {
			display: none;
		}
		.checked {
			display: block;
		}
		
		// content
		+ div.foldout>* {
			display: block;
		}
	}
}


/* media different screen sizes */

@media only screen and (min-width: 34em) {
	#copyright>br {
		display: none;
	}
}


