---
---

/* variables */

$header-bg-color: rgb(17, 17, 34);
$header-bg-color-dark: rgb(10, 10, 21);

$icon-bg-color: rgba(0,0,0,0.1);
$icon-width: 48px;

$icon-padding: 3px;

$nav-a-div-height: $icon-width + $icon-padding * 2;
$nav-li-height: $nav-a-div-height + 12px;
$title-height: $nav-li-height;

$nav-a-div-padding-partial: 14px + $icon-padding * 2;
$nav-a-div-margin: 15px;

$nav-padding: 6px;

$font-normal: "Arial", sans-serif;
$font-narrow: "Arial Narrow", "Arial", sans-serif;

$main-bg-color: rgb(11, 11, 13);
$fade-color: darken($main-bg-color, 3%);
$fade-height: 8px;

$toggle-img-padding: 20px;

//$article-border-color: rgba(44, 44, 60, 0);

/* mixins */

@mixin transition($properties) {
    transition: $properties;
    -webkit-transition: $properties;
    -moz-transition: $properties;
    -o-transition: $properties;
}

@mixin transition-filter($time) {
    transition: filter $time, -webkit-filter $time;
    -webkit-transition: -webkit-filter $time;
}
@mixin filter($properties) {
    -webkit-filter: $properties;
    filter: $properties;
}

@mixin transform($properties) {
    transform: $properties;
    -webkit-transform: $properties;
    -o-transform: $properties;
    -moz-transform: $properties;
    -ms-transform: $properties;
}


/* syntax highlighting */

@import "syntax_highlighting/alternative.scss";

@mixin tab-size($size) {
    tab-size: $size;
    -moz-tab-size: $size;
    -o-tab-size: $size;
}

.highlighter-rouge {
    display: inline;
    padding: 1px 4px 1px 4px;
    overflow-x: auto;
    
    font-family: monospace;
    
    border-radius: 5px;
	background-color: $main-bg-color;
}
pre.highlight {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: -1em;
}
.codeblock {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 10px;
	
    white-space: pre;
	font-size: 11pt;
	@include tab-size(16px);
}


/* main */

body {
    min-width: 290px;
    
    margin: 0;
    padding: 0;
    color: #ddd;
    background: $header-bg-color;
    
    font-family: $font-normal;
    font-size: 12pt;
}

hr {
    border: none;
    border-bottom: 2px groove #676767;
	margin: 30px 0;
}
main>hr {
	margin: 60px 0;
}

h1,
h2,
h3 {
    font-family: $font-narrow;
    letter-spacing: 1px;
}
h1 {
    font-size: 24pt;
}
h2 {
	font-size: 20pt;
}

a {
    color: #9bf;
    text-decoration: none;
}
a:hover {
    color: #77f;
	text-shadow: 0px 3px 2px #000;
}
a:visited {
    color: #b9f;
}
a:visited:hover {
    color: #86f;
}

ul {
	padding-left: 23px;
}
ul.nav li {
	margin: 10px 0;
}

/* HEADER & FOOTER */

/* MENU TOGGLE */

.toggle,
.toggle ~ label {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 4;
    
    cursor: pointer;
}
header .toggle,
header .toggle ~ label {
    width: 100px;
    height: $title-height;
}
.toggle {
    display: none;
}
.toggle ~ label {
    display: block;
}

/* toggle icons - open/close */

.toggle ~ label img {
    position: absolute;
    width: 40px;
    height: 40px;
    left: $toggle-img-padding;
    top: 50%;
    @include transform(translateY(-50%));
    
    @include transition-filter(0.2s);
}

.toggle ~ label:hover img {
    @include filter(brightness(150%));
}

.toggle ~ label img.close,
.toggle:checked ~ label img.open {
    display: none;
}
.toggle:checked ~ label img.close,
.toggle ~ label img.open {
    display: inline-block;
}

/* when menu is open */
.toggle.mainpages:checked ~ .toggle-content {
    height: $nav-li-height * 6 + $nav-padding * 2;
}
.toggle.socialsites:checked ~ .toggle-content {
    height: $nav-li-height * 3 + $nav-padding * 2;
}

header,
footer {
    width: 100%;
    height: auto;
    position: relative; /* for child positioning */
}

.fade {
    height: $fade-height;
    width: 100%;
    position: absolute;
}
$fade-darkness: 20%;
header .fade {
    bottom: -$fade-height;
    background: linear-gradient(rgba($fade-color, 1), rgba($fade-color, 0));
}
footer .fade {
    top: -$fade-height;
    background: linear-gradient(rgba($fade-color, 0), rgba($fade-color, 1));
}

.toggle-content {
    position: relative; /* for child positioning */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3px;
    overflow: hidden;
    
    z-index: 1;
    
    @include transition (height 0.3s);
    background-color: $header-bg-color-dark;
}
header .toggle-content {
    height: 0;
}

.toggle-content nav {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    padding: $nav-padding 0;
    margin: 0;
    
    z-index: 2;
    
    @include transition (top 0.3s);
}

/* TITLE */

#title {
    position: relative;
    display: block;
    height: $title-height;
    text-align: center;
    
    z-index: 3;
    
    color: #ddf;
    background: $header-bg-color;
    
    @include transition (background 0.2s);
}
#title:hover {
    text-decoration: none;
    
    background: rgb(25, 25, 41);
}
#title img {
	position: absolute;
	right: $toggle-img-padding;
	top: 50%;
	@include transform(translateY(-50%));
	width: $icon-width;
	border-radius: $icon-width;
}

/* HEADER/FOOTER continued */
header h2,
header h3 {
    text-transform: uppercase;
}
header h2,
footer h2 {
	margin: 0;
	padding: 0;
    font-family: $font-narrow;
    letter-spacing: 1pt;
}
header h2 {
	/* small-screen default */
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}
footer h2 {
    font-size: 22pt;
}

header h3,
footer h3 {
    margin: 0;
	padding: 0;
}
footer h3 {
    font-size: 16pt;
}
header h3 {
	margin-top: -6px;
	
    color: #78f;
    font-size: 13pt;
    font-weight: lighter;
    letter-spacing: 2px;
    
    display: none; /* screen-size-dependant */
}
header h3 span {
    font-size: 16pt;
    text-transform: capitalize;
}


/* NAVIGATION LINKS */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    text-align: left;
}

nav a {
    position: relative;
    display: block;
    
    height: $nav-li-height;
    
    font-family: $font-narrow;
    text-decoration: none;
    font-size: 18pt;
    
    @include transition (background 0.2s);
}
nav ul.socialsites a {
    font-size: 14pt; /* small-screen-default */
}

nav a span i {
    font-style: normal;
    font-family: $font-normal;
    font-size: 12pt; /* small-screen-default */
}

nav a div,
.toggle ~ label div {
    position: absolute;
    display: inline-block;
    top: 50%;
    @include transform(translateY(-50%));
}
nav a div {
    margin-left: $nav-a-div-margin;
    margin-right: $nav-a-div-margin;
    height: $nav-a-div-height;
    /*width: 200px;*/
    
    background: rgba(0,0,0,0.3);
    border-radius: 64px;
}
.toggle ~ label div {
    height: 100%;
}

nav a img {
    position: absolute;
    top: 0;
    left: 0;
    
    width: $icon-width;
    border-radius: $icon-width;
    border: $icon-padding solid transparent;
    background: $icon-bg-color;
}

nav a span,
.toggle ~ label h3 {
    display: inline-block;
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
    margin: 0;
    padding: 0;
    padding-right: $toggle-img-padding;
    overflow-x: visible;
}
nav a span {
    padding-left: $icon-width + $nav-a-div-padding-partial;
    padding-bottom: 2px;
}
.toggle ~ label h3 {
    padding-left: 80px;
}

nav a:hover {
    color: #bbf;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
}
nav a:visited {
	color: #9bf;
}
nav a:visited:hover {
	color: #bbf;
}


/* FOOTER */

footer {
    background: $header-bg-color;
}

div.expandable {
    position: relative;
    height: auto;
    
    background: $header-bg-color;
}

footer .toggle,
footer .toggle ~ label {
    position: relative;
    height: $nav-li-height;
}

footer .toggle:checked ~ label img.close,
footer .toggle ~ label img.open {
    display: block;
}


#copyright {
    clear: both;
    padding: 10px 15px;
    text-align: right;
    font-size: 9pt;
    font-family: $font-normal;
}


/* MAIN, SECTION, ARTICLE */

$article-margin: 30px;

main {
    margin: 0;
    margin-top: -6px;
    padding: $article-margin 0 $article-margin 0;
    background: $main-bg-color;
}

$article-padding: 10px;
section,
article {
	padding: $article-padding;
	
    text-align: left; /* small-screen default */
	
	background: rgb(25, 25, 31);
	border-radius: 5px;
	
	p,
	h1,
	h2,
	h3 {
		margin-left: 6px;
		margin-right: 6px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	
	h1,
	h2 {
		display: block;
		margin: auto;
		text-align: center;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	span.date {
		font-size: 12pt;
		letter-spacing: 1px;
		text-transform: none;
	}
	#date {
		text-align: center;
	}
}
main>section,
main>article {
	margin-bottom: $article-margin;
	margin-top: $article-margin;
	
	margin-left: 5%; /* small-screen default */
	margin-right: 5%; /* small-screen default */
	
	section,
	article {
		margin-left: -$article-padding; /* small-screen default */
		margin-right: -$article-padding; /* small-screen default */
		
		margin-bottom: 30px;
		margin-top: 30px;
		
		$article-border-color: #484b57;
		border-top: 2px solid $article-border-color;
		border-bottom: 2px solid $article-border-color;
		border-left: 1px solid transparentize($article-border-color, 0.6);
		border-right: 1px solid transparentize($article-border-color, 0.6);
	}
}

.WIP {
    color: #ff9393;
}

/* LARGER SCREENS */

@media only screen and (min-width: 480px) {
    header h3 {
        display: block;
    }
	header h2 {
		position: static;
		@include transform(none);
		padding-top: 7px;
	}
    
    nav ul.socialsites a {
        font-size: 18pt;
    }
    nav a span i {
        font-size: 14pt;
    }
    
    main>section,
	main>article {
        text-align: justify;
		
		section,
		article {
			margin-left: 0;
			margin-right: 0;
    		text-align: justify;
		}
    }
}

@media only screen and (min-width: 660px) {
    main>section,
	main>article {
		margin-left: auto;
		margin-right: auto;
        width: 600px;
    }
}

@media only screen and (min-width: 960px) {
    main>section,
	main>article {
        width: 900px;
    }
}


