---
---

/* code highlighting (Defunct) */

.whitespace {
	white-space: pre;
}

.highlight-argname {
	color: #33b;
}
.highlight-argref {
	color: #33e;
}
.highlight-func {
	color: #b33;
}
.highlight-bracket {
	color: #3b3;
}
.highlight-expr {
	color: #939;
}
.highlight-optional {
	color: #666;
}

.highlight-blue {
	color: #33b;
}
.highlight-blue2 {
	color:#55e;
}
.highlight-red {
	color: #b33;
}
.highlight-red2 {
	color: #e55;
}
.highlight-green {
	color: #3a3;
}
.highlight-purple {
	color: #939;
}
.highlight-yellow {
	color: #990;
}
.highlight-gray,
.highlight-grey {
	color: #777;
}


