$keyword: #678bea;
$class: #35c7f2;
$normal: #ddd;
$normal-dark: #ccc;
$constant: #dd6d64;

.highlighter-rouge {
    background-color: #0b0b0d; color: $normal;
    
    .hll { background-color: $normal; }
    .err { color: #a61717; background-color: #e3d2d2; } /* Error */
    .p { color: $normal-dark; } /* Punctuation */
    .w { color: #666666; } /* Text.Whitespace */
    .x { @extend .p; } /* Other */
    
    /* Comment */
    .c { color: #777;  } /* Comment */
    .c1 { @extend .c; } /* Comment.Single */
    .cm { @extend .c; } /* Comment.Multiline */
    .cp { color: #aaa; } /* Comment.Preproc */
    .cs { color: #e50808; background-color: #520000; } /* Comment.Special */
    
    /* Generic */
    .g { color: $normal; } /* Generic */
    .gd { color: #d22323; } /* Generic.Deleted */
    .ge { @extend .g; font-style: italic } /* Generic.Emph */
    .gr { color: #d22323; } /* Generic.Error */
    .gh { color: #ffffff; } /* Generic.Heading */
    .gi { color: #589819; } /* Generic.Inserted */
    .go { color: #cccccc; } /* Generic.Output */
    .gp { color: #aaaaaa; } /* Generic.Prompt */
    .gs { color: $normal; } /* Generic.Strong */
    .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
    .gt { color: #d22323; } /* Generic.Traceback */
    
    /* Keyword */
    .k { color: $keyword; } /* Keyword */
    .kc { @extend .k; } /* Keyword.Constant */
    .kd { @extend .k; } /* Keyword.Declaration */
    .kn { @extend .k; } /* Keyword.Namespace */
    .kp { color: $keyword; font-style: italic; } /* Keyword.Pseudo */
    .kr { @extend .k; } /* Keyword.Reserved */
    .kt { @extend .k; } /* Keyword.Type */
    
    /* Literal */
    .l { color: $normal; } /* Literal */
    .ld { @extend .l; } /* Literal.Date */
    
    /* Literal.Number */
    .m { color: $normal; } /* Literal.Number */
    .mf { @extend .m; } /* Literal.Number.Float */
    .mh { @extend .m; } /* Literal.Number.Hex */
    .mi { @extend .m; } /* Literal.Number.Integer */
    .il { @extend .m; } /* Literal.Number.Integer.Long */
    .mo { @extend .m; } /* Literal.Number.Oct */
    
    /* Literal.String */
    .s { color: $constant; } /* Literal.String */
    .sb { @extend .s; } /* Literal.String.Backtick */
    .sc { @extend .s; } /* Literal.String.Char */
    .sd { @extend .s; } /* Literal.String.Doc */
    .s2 { @extend .s; } /* Literal.String.Double */
    .se { @extend .s; } /* Literal.String.Escape */
    .sh { @extend .s; } /* Literal.String.Heredoc */
    .si { @extend .s; } /* Literal.String.Interpol */
    .sx { color: #ffa500 } /* Literal.String.Other */
    .sr { @extend .s; } /* Literal.String.Regex */
    .s1 { @extend .s; } /* Literal.String.Single */
    .ss { @extend .s; } /* Literal.String.Symbol */
    
    /* Name */
    .n { color: $normal; } /* Name */
    .na { color: $class; } /* Name.Attribute */
    .nb { color: #24909d; } /* Name.Builtin */
    .bp { @extend .nb; } /* Name.Builtin.Pseudo */
    .nc { color: $class; } /* Name.Class */
    .no { color: $constant; } /* Name.Constant */
    .nd { color: #ffa500; } /* Name.Decorator */
    .ni { @extend .n; } /* Name.Entity */
    .ne { color: #bbbbbb; } /* Name.Exception */
    .nf { @extend .n; } /* Name.Function */
    .nl { color: $class; } /* Name.Label */
    .nn { color: $normal; } /* Name.Namespace */
    .nx { @extend .n; } /* Name.Other */
    .py { @extend .n; } /* Name.Property */
    .nt { @extend .k; } /* Name.Tag */
    
    /* Name.Variable */
    .nv { color: $class; } /* Name.Variable */
    .vc { @extend .nv; } /* Name.Variable.Class */
    .vg { @extend .nv; } /* Name.Variable.Global */
    .vi { @extend .nv; } /* Name.Variable.Instance */
    
    /* Operator */
    .o { color: $normal; } /* Operator */
    .ow { @extend .k; } /* Operator.Word */
}


